@using BIDV.Common
@using BIDV.Model
@{
    ViewBag.Title = @ViewBag.Title;
    Layout = "~/Areas/mobile/Views/Shared/_LayoutPage.cshtml";
}
@model bidv__feature
<div class="bv_slide_home">
    <div class="jcarousel-wrapper">
        <div class="jcarousel" data-jcarousel="true" data-jcarouselautoscroll="true">
            <ul style="transition-duration: 0s; transition-timing-function: ease; transition-property: all; transform: translate3d(0px, 0px, 0px);">
                <li style="width: 320px;">
                    <a href="/CardService/ListCard/1" target="_blank">
                        <img style="background: transparent url('/Content/FrontEnd/_img_server/feature/@HelperDateTime.DateTimeToyyyymmdd(Model.created.Value)/size1300/@Model.image') no-repeat center center;width: 100%;background-size: cover" src="/Content/FrontEnd/style/images/blank.gif">
                    </a>
                    <div class="bv_contain bv_slide_jc" style="z-index: 2">
                        <p><a class="bv_style_btn" href="https://ebank.bidv.com.vn/DKT/">Đăng ký</a></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <script type="text/javascript">
        shop.ready.add(function () {
            var jcarousel = $('.jcarousel');
            jcarousel
                    .on('jcarousel:reload jcarousel:create', function () {
                        jcarousel.jcarousel('items').width(jcarousel.innerWidth());
                    })
                    .jcarousel({
                        wrap: 'circular',
                        animation: {
                            duration: 1200,
                            easing: 'linear',
                            complete: function () { }
                        },
                        transitions: Modernizr.csstransitions ? {
                            transforms: Modernizr.csstransforms,
                            transforms3d: Modernizr.csstransforms3d,
                            easing: 'ease'
                        } : false
                    }).jcarouselAutoscroll({
                        interval: 6000,
                        target: '+=1',
                        autostart: true
                    });

            $('.jcarousel-control-prev')
                    .on('jcarouselcontrol:active', function () {
                        $(this).removeClass('inactive');
                    })
                    .on('jcarouselcontrol:inactive', function () {
                        $(this).addClass('inactive');
                    })
                    .jcarouselControl({
                        target: '-=1'
                    });

            $('.jcarousel-control-next')
                    .on('jcarouselcontrol:active', function () {
                        $(this).removeClass('inactive');
                    })
                    .on('jcarouselcontrol:inactive', function () {
                        $(this).addClass('inactive');
                    })
                    .on('click', function (e) {
                        e.preventDefault();
                    })
                    .jcarouselControl({
                        target: '+=1'
                    });

            $('.jcarousel-pagination')
                    .on('jcarouselpagination:active', 'a', function () {
                        $(this).addClass('active');
                    })
                    .on('jcarouselpagination:inactive', 'a', function () {
                        $(this).removeClass('active');
                    })
                    .on('click', function (e) {
                        e.preventDefault();
                    })
                    .jcarouselPagination({
                        item: function (page) {
                            return '<a href="#' + page + '">' + page + '</a>';
                        }
                    });
        });
    </script>

</div>
<div class="bv_program_sell">
    <div class="bv_contain">
        <div class="bv_program_sell_title">CHƯƠNG TRÌNH ƯU ĐÃI</div>
        <div class="bv_program_sell_note">Tận hưởng thế giới ưu đãi cùng thẻ BIDV</div>
        <ul class="bv_program_sell_tab">
            <li>
                <a class="active" href="javascript:void(0)" data-content="bv_program_sell_ct_khuyenmai">
                    Tin tức khuyến mại
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" data-content="bv_program_sell_ct_diemvang">
                    Điểm ưu đãi vàng
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" data-content="bv_program_sell_ct_diemvang">
                    Tích luỹ điểm thưởng
                </a>
            </li>

        </ul>
    </div>
    <ul class="bv_program_sell_content">
        <li class="bv_program_sell_content_li" id="bv_program_sell_ct_khuyenmai">
            <div class="wrapper">
                <div class="jcarousel-wrapper">
                    <!-- Carousel -->
                    <div class="jcarousel_two" data-jcarousel="true" data-jcarouselautoscroll="true">
                        <ul style="transition-duration: 0s; transition-timing-function: ease; transition-property: all; transform: translate3d(0px, 0px, 0px);">
                            @if (ViewBag.NewsPromotion != null)
                            {
                                var lstNewsPromotion = (List<bidv__news>)ViewBag.NewsPromotion;
                                foreach (var item in lstNewsPromotion)
                                {
                                    var objNewsImg = item.bidv__news_image.FirstOrDefault();
                                    if (objNewsImg != null)
                                    {
                                        <li>
                                            <a href="/Promotion/PromotionDetail/@item.id" class="bv_program_content">@item.title</a>
                                            <a href="/Promotion/PromotionDetail/@item.id"><img style="background-image: url(/Content/FrontEnd/_img_server/news/@HelperDateTime.DateTimeToyyyymmdd(objNewsImg.created.Value)/size286/@objNewsImg.image);background-size:contain" src="/Content/FrontEnd/style/images/blank.gif" alt="" width="245" height="286"></a>
                                        </li>
                                    }
                                }
                            }
                        </ul>
                    </div>
                    <div class="bv_contain bv_slide_jc_page">
                        <p class="jcarousel-two-pagination" data-jcarouselpagination="true"><a href="#1" class="active">1</a></p>
                    </div>

                </div>
            </div>
        </li>
        <li id="bv_program_sell_ct_diemvang" class="bv_program_sell_content_li hidden">
            <div class="wrapper">
                <div class="jcarousel-wrapper">
                    <!-- Carousel -->
                    <div class="jcarousel_tree" data-jcarousel="true" data-jcarouselautoscroll="true">
                        <ul style="transition-duration: 1.2s; transition-timing-function: ease; transition-property: all; transform: translate3d(90px, 0px, 0px);">
                            @if (ViewBag.NewsFavorable != null)
                            {
                                var lstNewsFavorable = (List<bidv__promotion>)ViewBag.NewsFavorable;
                                foreach (var item in lstNewsFavorable)
                                {
                                    <li>
                                        <a href="/Promotion/PromotionDetail/@item.id" class="bv_program_content">@item.title</a>
                                        <a href="/Promotion/PromotionDetail/@item.id"><img style="background-image: url(/Content/FrontEnd/_img_server/promotion/@HelperDateTime.DateTimeToyyyymmdd(item.created)/size286/@item.image_doc); background-size: contain" src="/Content/FrontEnd/style/images/blank.gif" alt="" width="245" height="286"></a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                    <div class="bv_contain bv_slide_jc_page">
                        <p class="jcarousel-tree-pagination" data-jcarouselpagination="true"><a href="#1" class="active">1</a></p>
                    </div>
                </div>
            </div>
        </li>
    </ul>

    <script>
        function content_show(obj, id) {
            $('.bv_program_sell_tab a').removeClass('active');
            $(obj).addClass('active');
            $('.bv_program_sell_content_li').addClass('hidden');
            $('#' + id).removeClass('hidden');
            call();
        }
        shop.ready.add(function () {
            call();
        });
        function call() {
            (function ($) {
                $(function () {
                    /*
                     Carousel initialization
                     */
                    $('.jcarousel_two')
                        .jcarousel({
                            wrap: 'circular',
                            animation: {
                                duration: 1200,
                                easing: 'linear',
                                complete: function () { }
                            },
                            transitions: Modernizr.csstransitions ? {
                                transforms: Modernizr.csstransforms,
                                transforms3d: Modernizr.csstransforms3d,
                                easing: 'ease'
                            } : false
                        }).jcarouselAutoscroll({
                            interval: 1200,
                            target: '+=1',
                            autostart: true
                        });
                    ;

                    $('.jcarousel_tree')
                        .jcarousel({
                            wrap: 'circular',
                            animation: {
                                duration: 1200,
                                easing: 'linear',
                                complete: function () { }
                            },
                            transitions: Modernizr.csstransitions ? {
                                transforms: Modernizr.csstransforms,
                                transforms3d: Modernizr.csstransforms3d,
                                easing: 'ease'
                            } : false
                        }).jcarouselAutoscroll({
                            interval: 1200,
                            target: '+=1',
                            autostart: true
                        });
                    ;

                    /*
                     Pagination initialization
                     */
                    $('.jcarousel-two-pagination')
                        .on('jcarouselpagination:active', 'a', function () {
                            $(this).addClass('active');
                        })
                        .on('jcarouselpagination:inactive', 'a', function () {
                            $(this).removeClass('active');
                        })
                        .on('click', function (e) {
                            e.preventDefault();
                        })
                        .jcarouselPagination({
                            item: function (page) {
                                return '<a href="#' + page + '">' + page + '</a>';
                            }
                        });
                    $('.jcarousel-tree-pagination')
                        .on('jcarouselpagination:active', 'a', function () {
                            $(this).addClass('active');
                        })
                        .on('jcarouselpagination:inactive', 'a', function () {
                            $(this).removeClass('active');
                        })
                        .on('click', function (e) {
                            e.preventDefault();
                        })
                        .jcarouselPagination({
                            item: function (page) {
                                return '<a href="#' + page + '">' + page + '</a>';
                            }
                        });
                });
            })(jQuery);
        }
    </script>

</div>
<div class="bv_product_service">
    <div class="bv_contain">
        @{Html.RenderAction("ProductService", "CardService");}
    </div>
</div>
<div class="bv_news">
    <div class="bv_contain">
        @{Html.RenderAction("ListNewsInHome","Home");}
    </div>
</div>
<div class="bv_platimun">
    <div class="bv_contain">
        <div class="bv_box_img" style="background: transparent url('/Content/FrontEnd/dev/plistden.png') no-repeat center top;background-size: contain;width: 100%;height: 260px">
            <div class="bv_text_fontrt">
                Platinum
            </div>
            <div class="bv_text_fontrt_t2">
                Visa - MasterCard <span>Credit Card</span>
            </div>
            <ul class="bv_build_link">
                <li><a href="https://ebank.bidv.com.vn/DKT/" target="_blank">mở thẻ NGAY</a></li>
                <li><a class="more" href="dich-vu-the/the-tin-dung-ca-nhan-3.html">CHI TIẾT</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="bv_newletter">
    <div class="bv_contain">
        <input class="bv_newletter_input" type="text" value="" placeholder="Đăng ký nhận Newsletter" name="email_reg" id="email_reg">
        <a class="bv_newletter_btn" href="javascript:void(0)" onclick="shop.subscribe.reg_home()">ĐĂNG KÝ</a>
        <div class="c"></div>
    </div>
</div>
