@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using BIDV.Common
@model BIDV.Model.bidv__feature
<div class="bv_slide_home">
    <div class="jcarousel-wrapper">
        <div class="jcarousel">
            <ul>
                <li>
                    @if (Model != null)
                    {
                        if (Model.image != null)
                        {
                            <a href="/CardService/ListCard/1" target="_blank">
                                <img style="background: transparent url('/Content/FrontEnd/_img_server/feature/@HelperDateTime.DateTimeToyyyymmdd(Model.created.Value)/size1300/@Model.image') no-repeat center center;width: 100%;background-size: cover" src="/Content/FrontEnd/style/images/blank.gif" />
                            </a>
                            <div class="bv_contain bv_slide_jc" style="z-index: 2">
                                <p><a class="bv_style_btn" href="https://ebank.bidv.com.vn/DKT/">Đăng k&yacute;</a></p>
                            </div>
                        }
                    }

                </li>
            </ul>
        </div>
    </div>

    <script type="text/javascript">
        shop.ready.add(function () {
            var jcarousel = $('.jcarousel');
            jcarousel
                    .on('jcarousel:reload jcarousel:create', function () {
                        jcarousel.jcarousel('items').width(jcarousel.innerWidth());
                    })
                    .jcarousel({
                        wrap: 'circular',
                        animation: {
                            duration: 1200,
                            easing: 'linear',
                            complete: function () { }
                        },
                        transitions: Modernizr.csstransitions ? {
                            transforms: Modernizr.csstransforms,
                            transforms3d: Modernizr.csstransforms3d,
                            easing: 'ease'
                        } : false
                    }).jcarouselAutoscroll({
                        interval: 6000,
                        target: '+=1',
                        autostart: true
                    });

            $('.jcarousel-control-prev')
                    .on('jcarouselcontrol:active', function () {
                        $(this).removeClass('inactive');
                    })
                    .on('jcarouselcontrol:inactive', function () {
                        $(this).addClass('inactive');
                    })
                    .jcarouselControl({
                        target: '-=1'
                    });

            $('.jcarousel-control-next')
                    .on('jcarouselcontrol:active', function () {
                        $(this).removeClass('inactive');
                    })
                    .on('jcarouselcontrol:inactive', function () {
                        $(this).addClass('inactive');
                    })
                    .on('click', function (e) {
                        e.preventDefault();
                    })
                    .jcarouselControl({
                        target: '+=1'
                    });

            $('.jcarousel-pagination')
                    .on('jcarouselpagination:active', 'a', function () {
                        $(this).addClass('active');
                    })
                    .on('jcarouselpagination:inactive', 'a', function () {
                        $(this).removeClass('active');
                    })
                    .on('click', function (e) {
                        e.preventDefault();
                    })
                    .jcarouselPagination({
                        item: function (page) {
                            return '<a href="#' + page + '">' + page + '</a>';
                        }
                    });
        });
    </script>

</div>
<div class="box_gioithieu">
    <div class="jcarousel-wrapper">
        <div class="jcarousel jcarousel_gioithieu">
            <ul>
                <li>
                    <div class="box_gioithieu_one">
                        <div class="bv_contain">
                            <div class="box_gioithieu_title">SỰ Hình thành<br /> & quá trình phát triển</div>
                            <div class="box_gioithieu_note">sản phẩm dịch vụ thẻ BIDV</div>
                            <div class="box_gioithieu_img">
                                <a style="z-index: 2;opacity: 1" class="box_gioithieu_a jcarousel-control-next" href="javascript:void(0)">KHÁM PHÁ</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="box_gioithieu_two">
                        <div class="bv_contain">
                            <a class="box_gioithieu_mar" href="javascript:void(0)">
                                <span>
                                    Ngân hàng TMCP Đầu tư và Phát triển Việt Nam (BIDV) thuộc Top 4 Ngân hàng TMCP lớn nhất tại Việt Nam với 181 chi nhánh, gần 800 phòng giao dịch trên 63 tỉnh thành phố trong cả nước, thuộc Top 3 thị trường về quy mô dịch vụ thẻ với hơn 1.800 ATM và 20.000 POS và 8 triệu chủ thẻ
                                </span>
                            </a>
                            <a class="box_gioithieu_btnback jcarousel-control-prev" href="javascript:void(0)"><span>&#xf0d9;</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;QUAY LẠI</a>
                            <a class="box_gioithieu_btnnext jcarousel-control-next" href="javascript:void(0)">TIẾP TỤC&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>&#xf0da;</span></a>
                            <div class="box_gioithieu_two_bot">
                                <div class="buoc2_do">181<br /><span>Chi NHÁNH</span></div>
                                <div class="buoc2_vang">800<br /><span>PHÒNG GIAO DỊCH</span></div>
                                <div class="buoc2_xanhdam">1800<br /><span>ATM</span></div>
                                <div class="buoc2_xanhla">20<span>NGHÌN</span><br /><span>POS</span></div>
                                <div class="buoc2_datroi">08<span>TRIỆU</span><br /><span>CHỦ THẺ</span></div>
                            </div>
                            <div class="c"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="box_gioithieu_ba">
                        <div class="bv_contain">
                            <div class="box_gioithieu_ba_tit">Với các sản phẩm dịch vụ thẻ đa dạng, phong phú và độc đáo,<br />BIDV luôn đáp ứng tối đa nhu cầu sử dụng thẻ của Khách hàng trong và ngoài nước</div>
                            <div class="box_gioithieu_ba_fl">
                                <div class="box_gioithieu_ba_btn">Thẻ ghi nợ nội địa</div>
                                <p class="mBottom15">
                                    Với ba nhãn hiệu thẻ BIDV Etrans, BIDV Harmony và BIDV Moving và các sản phẩm thẻ sinh viên, thẻ liên kết, thẻ đồng thương hiệu với các nhà phân phối bán lẻ có uy tín và thương hiệu mạnh như BIDV - Lingo, BIDV - CoopMart, BIDV - Maximark, BIDV - Hiway, BIDV - Satra… Ngoài các tính năng tiện ích cơ bản, thẻ ghi nợ nội địa BIDV còn cung cấp các dịch vụ giá trị gia tăng như nạp tiền điện thoại, thanh toán vé máy bay, phí bảo hiểm, thanh toán hóa đơn tiền điện, thanh toán cước phí điện thoại... qua ATM và trực tuyến.
                                </p>
                                <div class="mBottom15">
                                    <a class="mRight" style="display: inline-block" href="javascript:void(0)"><img src="/Content/FrontEnd/themes/website/default//dev/gt3_1.jpg" width="110" height="70" /></a>
                                    <a class="mRight" style="display: inline-block" href="javascript:void(0)"><img src="/Content/FrontEnd/themes/website/default//dev/gt3_2.jpg" width="110" height="70" /></a>
                                    <a style="display: inline-block" href="javascript:void(0)"><img src="/Content/FrontEnd/themes/website/default//dev/gt3_3.jpg" width="110" height="70" /></a>
                                </div>
                                <div class="box_gioithieu_ba_btn"> Thẻ QUỐC TẾ</div>
                                <p class="mBottom15">
                                    BIDV đã triển khai dịch vụ thẻ quốc tế VISA và MasterCard với các nhãn hiệu thẻ: BIDV Visa Precious, BIDV Visa Flexi, BIDV Visa Platinum, BIDV MasterCard Ready, BIDV MasterCard Platinum, và các sản phẩm thẻ đồng thương hiệu với các tổ chức lớn trong và ngoài nước:<br /><br />
                                    &#9899;Thẻ quốc tế đồng thương hiệu BIDV - Viettravel hạng Classic và hạng Platinum.<br />
                                    &#9899;Đặc biệt sản phẩm thẻ quốc tế đồng thương hiệu với Câu lạc bộ bóng đá Manchester United với nhãn hiệu thẻ BIDV - ManU đứng đầu Top 100 sản phẩm Tin và Dùng do Thời báo Kinh tế Việt Nam trao tặng.
                                </p>
                                <div class="mBottom15">
                                    <a class="mRight" style="display: inline-block" href="javascript:void(0)"><img src="/Content/FrontEnd/themes/website/default//dev/gt3_4.jpg" width="110" height="70" /></a>
                                    <a class="mRight" style="display: inline-block" href="javascript:void(0)"><img src="/Content/FrontEnd/themes/website/default//dev/gt3_5.png" width="110" height="70" /></a>
                                    <a class="mRight" style="display: inline-block" href="javascript:void(0)"><img src="/Content/FrontEnd/themes/website/default//dev/gt3_6.png" width="110" height="70" /></a>
                                    <a style="display: inline-block" href="javascript:void(0)"><img src="/Content/FrontEnd/themes/website/default//dev/gt3_7.png" width="110" height="70" /></a>
                                </div>
                            </div>
                            <div class="box_gioithieu_ba_fr">
                                <div class="box_gioithieu_ba_btn">Thẻ DOANH NGHIỆP</div>
                                <p class="mBottom15">
                                    Với việc ra mắt đồng thời sản phẩm thẻ tín dụng Visa Business và thẻ ghi nợ Master Business, BIDV đã cung cấp bộ giải pháp tài chính toàn diện tới các doanh nghiệp - những khách hàng tổ chức ưu tiên lựa chọn công cụ thanh toán thông minh, hiện đại và chủ động.
                                </p>
                                <div class="box_gioithieu_ba_btn">Mạng lưới ATM và POS</div>
                                <p class="mBottom15">
                                    Với quy mô hiện tại hơn 1.800 ATM và 20.000 POS liên tục được mở rộng và phủ khắp 63 tỉnh thành của cả nước, chấp nhận thanh toán thẻ mang nhãn hiệu của các Tổ chức trong và ngoài nước: Banknetvn/Smartlink, Visa, MasterCard, JCB và UnionPay.<br /><br />

                                    Với mục tiêu trở thành nhà cung cấp dịch vụ ngân hàng bán lẻ hàng đầu Việt Nam, BIDV liên tục mở rộng quy mô, nâng cao chất lượng và đã khẳng định được vị thế và uy tín trong lĩnh vực thẻ qua sự tin tưởng của hơn 8 triệu Chủ thẻ hiện tại và các giải thưởng từ các Tổ chức thẻ uy tín quốc tế VISA và MasterCard: Top 3 Ngân hàng có doanh số chấp nhận thanh toán thẻ VISA qua POS cao nhất năm 2014, Ngân hàng có sản phẩm ấn tượng nhất trong năm dành cho sản phẩm thẻ ghi nợ quốc tế BIDV - Manchester United, Top 3 ngân hàng có doanh số sử dụng thẻ ghi nợ quốc tế MasterCard cao nhất, Top 3 ngân hàng có doanh số chấp nhận thanh toán thẻ MasterCard qua POS cao nhất 2013-2015.<br /><br />
                                    BIDV tin tưởng sẽ đồng hành cùng Quý khách hàng và mang đến những sản phẩm chất lượng dịch vụ thẻ tốt hơn nữa trong tương lai.
                                </p>
                                <div class="mBottom15" style="margin-top: 30px">
                                    <a class="mRight" style="display: inline-block" href="javascript:void(0)"><img src="/Content/FrontEnd/themes/website/default//dev/gt3_8.png" width="110" height="70" /></a>
                                    <a class="mRight" style="display: inline-block" href="javascript:void(0)"><img src="/Content/FrontEnd/themes/website/default//dev/gt3_9.png" width="110" height="70" /></a>
                                    <a class="mRight" style="display: inline-block" href="javascript:void(0)"><img src="/Content/FrontEnd/themes/website/default//dev/gt3_10.png" width="110" height="70" /></a>
                                    <a style="display: inline-block" href="javascript:void(0)"><img src="/Content/FrontEnd/themes/website/default//dev/gt3_11.png" width="110" height="70" /></a>
                                </div>
                            </div>
                            <div class="c"></div>
                            <a style="position: static;float: right;margin-top: 20px" class="box_gioithieu_btnback jcarousel-control-prev" href="javascript:void(0)"><span>&#xf0d9;</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;QUAY LẠI</a>
                            <div class="c"></div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="bv_contain" style="position: relative">
                <p class="jcarousel-pagination" data-jcarouselpagination="true"></p>

            </div>
        </div>
    </div>

    <script type="text/javascript">
        shop.ready.add(function () {
            $(function () {
                var jcarousel = $('.jcarousel_gioithieu');

                jcarousel
                        .on('jcarousel:reload jcarousel:create', function () {
                            jcarousel.jcarousel('items').width(jcarousel.innerWidth());
                        })
                        .jcarousel({
                            wrap: 'circular',
                            transitions: Modernizr.csstransitions ? {
                                transforms: Modernizr.csstransforms,
                                transforms3d: Modernizr.csstransforms3d,
                                easing: 'ease'
                            } : false
                        });
                $('.jcarousel-pagination')
                .on('jcarouselpagination:active', 'a', function () {
                    $(this).addClass('active');
                })
                .on('jcarouselpagination:inactive', 'a', function () {
                    $(this).removeClass('active');
                })
                .on('click', function (e) {
                    e.preventDefault();
                })
                .jcarouselPagination({
                    item: function (page) {
                        return '<a href="#' + page + '">' + page + '</a>';
                    }
                });
                $('.jcarousel-control-prev')
               .on('jcarouselcontrol:active', function () {
                   $(this).removeClass('inactive');
               })
               .on('jcarouselcontrol:inactive', function () {
                   $(this).addClass('inactive');
               })
               .jcarouselControl({
                   target: '-=1'
               });

                $('.jcarousel-control-next')
                        .on('jcarouselcontrol:active', function () {
                            $(this).removeClass('inactive');
                        })
                        .on('jcarouselcontrol:inactive', function () {
                            $(this).addClass('inactive');
                        })
                        .on('click', function (e) {
                            e.preventDefault();
                        })
                        .jcarouselControl({
                            target: '+=1'
                        });
            });
        });
    </script>

</div>
